# metadata from cli prorgam:
./src/serialreadwrite/data

# Python virtual environment
venv/
.vscode/ 

# Ignore Python-related files
*.pyc
__pycache__/

# Arduino/AVR build artifacts
*.o
*.hex
*.elf
*.eep

# Ignore the bin/ and obj/ directories (if used for builds)
bin/
obj/

# Ignore build directory (if used)
build/

# MacOS system files
.DS_Store


